body{
    background: #FDFC47;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #24FE41, #FDFC47);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #24FE41, #FDFC47); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Gloria Hallelujah', cursive;
background-repeat: no-repeat;

}


.nav{
position: fixed;
width: 105%;
margin-top: 0em;
}

ul {
    list-style-type: none;
    margin: 0em;
    padding: 0;
    overflow: hidden;
    background-color: #333;
   
    width: 92%;
 height: 3.5em;
border: 1em solid rgb(7, 255, 255);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(9, 240, 248);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: magenta;
  }
  
  

  .schedule{
      margin-top: 7em;
      color: purple;
     
  }
 
  hr{
  background-color: cyan;
    height: 1em;
  }

  .aboutme{
 
    font-size: 3em;
    color: rgb(251, 99, 43);
    font-weight: 900;
  }

  .about{
    font-size: 1.5em;
    font-weight: 900;
    color: rgba(9, 46, 252, 0.965);
  }

  .rena{
    height: 15em;
    width: 15em;
    border: 1rem solid blue;
    margin-top:5em;
  }