body{
    background: #00c3ff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #ffff1c, #00c3ff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(100deg,  #ffff1c, cyan, magenta, limegreen); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

background-repeat: no-repeat;
height: 80em;
font-family: 'Indie Flower', cursive;

}






ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(81, 235, 89);
    position: fixed;
    width: 92%;
 height: 3.5em;
border: 1em solid rgb(66, 98, 240);
  }
  
  li {
    float: left;
    font-size: x-large;
  }
  
  li a {
    display: block;
    color: rgb(227, 9, 247);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 900;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: rgb(106, 220, 248);
  }
  

  hr{
      height: 1em;
      background-image: url(./img/computer1.png);
  }

  .code{
      font-size: 3em;
      color: rgb(87, 14, 87);
      margin-top: 3em;
      font-weight: 900;
  }

  .codeVideo{
      font-size: 1.5em;
      color: blue;
      font-weight: 900;
  }

  .code1{
      height: 8em;
      font-weight: 900;

  }

  .audioCode{
    height: 5em;
    font-weight: 900;
  }

  .color{
    font-size: 1.5em;
    color: blue;
    font-weight: 900;
}

.colorCode{
    height: 1.8em;
    font-weight: 900; 
}


.responsive{
  font-size: 1.5em;
  color: blue;
  font-weight: 900;
}