.indexBody {
  background-image: linear-gradient(to right bottom, #f80bcf, #ff00a3, #ff127b, #ff4158, #ff603a, #ff772b, #ff8e19, #fba400, #faba00, #f4d000, #ebe700, #ddfd04);
  background-repeat: no-repeat;
    background-repeat: no-repeat;

    border: 1em solid cyan;
    color: rgb(127, 248, 71);
    font-family: "Courgette", cursive;
  }



  .contactBody{
    background-image: linear-gradient(to right bottom, #f80bcf, #ff00a3, #ff127b, #ff4158, #ff603a, #ff772b, #ff8e19, #fba400, #faba00, #f4d000, #ebe700, #ddfd04);
    background-repeat: no-repeat;
      background-repeat: no-repeat;
      height: 55em;
      border: 1em solid cyan;
      color: rgb(127, 248, 71);
      font-family: "Courgette", cursive;
      
    }



  .title {
    margin-top: 5em;
    padding: 0em;
  }
  
  .coffee {
    margin-left: 2em;
    width: 15em;
    margin-top: 5em;
    border-radius: 85%;
    padding: 0em;
    border: 2rem solid rgb(248, 194, 17);
  }
  
  .weltext {
    font-size: 6em;
    color: rgb(12, 247, 110);
   margin-right: -4em!important;
    font-family: "Courgette", cursive;
  }
  
  .sun {
    margin-left: 2em !important;
    margin-top:1em;
    width: 10em;
    border-radius: 25%;
    border: 2rem solid blue;
  }
  
  .sun2 {
    margin-top: 5em;
    width: 10em;
    margin-right: 2em !important;
    border-radius: 25%;
    border: 2rem solid blue;
    margin-bottom: -8em;
  }
  
  .text1 {
    font-family: "Courgette", cursive;
    font-size: 2em;
    color: #d3f707;
   
   padding: 3px 3px 3px 3px ;
   border: .5em groove rgb(103, 248, 6);
  }
  
  .text2 {
    font-family: "Courgette", cursive;
    font-size: 2em;
    color: #2f6495e3;
    border: .5em outset rgb(6, 83, 248);
  }
  
  .dis {
    font-size: 2em;
    color: red;
    border: 1em double chartreuse;
  }
  
  .responsive{
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

 

  .text{
    background-color: rgb(127, 241, 127);
    height: 14em;
    border: 3px outset cyan;
color: black;
  }

  .send{
    height: 3em!important;
color: black;
  }