.codeBody{
 
  color: rgb(66, 252, 4);
}

.menu .menu-text{
  color: rgb(66, 252, 4);
  font-family: "Courgette", cursive;
}


.verticle .medium-horizontal .menu {
 
    margin: 0;
    padding: 0;
 position: fixed;
    background-color: #333;
    color: rgb(66, 252, 4);
    width: 100%;
    height: 5.5em;
    border: 1em solid rgb(126, 243, 91);
  }
  
  li {
    font-family: "Courgette", cursive;
    float: left;
    color: rgb(66, 252, 4);
    background-color: #333;
  }
  
  li a {
    list-style-type:"\1F44D"; 
    display: block;
    color: rgb(66, 252, 4);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #333;
    font-family: "Courgette", cursive;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: magenta;
  }
  
  .no-js .top-bar {
    display: none;
  }
  
  @media screen and (min-width: 40em) {
    .no-js .top-bar {
      display: block;
    }
  
    .no-js .title-bar {
      display: none;
    }
  }