.projectBody{
  background-image: linear-gradient(to right bottom, #f80bcf, #ff00a3, #ff127b, #ff4158, #ff603a, #ff772b, #ff8e19, #fba400, #faba00, #f4d000, #ebe700, #ddfd04);
    background-repeat: no-repeat;

    border: 2em solid cyan;
    color: rgb(127, 248, 71);
    font-family: "Courgette", cursive;
  }


  
.nav{
  position: fixed;
}

  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: magenta;
  }
   */


.PetProj{
 font-size: 2em;
 background-color: blueviolet;
}


hr{
  height: 1em;
  background-color: aqua;
  border: 1rem solid purple;
}

.Dlyn{
  font-size: 2em;
  background-color: rgb(52, 7, 251);
}

.JuansRest{
  font-size: 2em;
  background-color: rgb(7, 251, 137);
  color: red;
}
.ameri{
  font-size: 2em;
   color: rgb(69, 105, 33);
}

.responsive{
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.video{
  height: 420px;
  width: auto;
}