body {
    background: #f12711; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to top,
      #f5af19,
      #f12711
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to top,
      #f5af19,
      #f12711
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;

    border: 2em solid cyan;
    color: rgb(127, 248, 71);
    font-family: "Courgette", cursive;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    width: 92%;
    height: 3.5em;
    border: 1em solid rgb(126, 243, 91);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(126, 243, 91);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: magenta;
  }
  


.PetProj{
 font-size: 2em;
 background-color: blueviolet;
}


hr{
  height: 1em;
  background-color: aqua;
  border: 1rem solid purple;
}

.Dlyn{
  font-size: 2em;
  background-color: rgb(52, 7, 251);
}

.JuansRest{
  font-size: 2em;
  background-color: rgb(7, 251, 137);
  color: red;
}
.ameri{
  font-size: 2em;
   color: rgb(69, 105, 33);
}

.responsive{
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.video{
  height: 420px;
  width: auto;
}