body{
    background: #fc00ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #00dbde, #fc00ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #00dbde, #fc00ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background-repeat: no-repeat;    
font-weight: 400;
font-size: 1.5em;
font-family: 'Ultra', serif;
height: auto;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    width: 92%;
 height: 3.5em;
border: 1em solid rgb(126, 243, 91);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(126, 243, 91);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: magenta;
  }
  
  
  .date{
    margin-top: 8em;
    color: cyan;
    font-weight: 900;
  }

.recording1{
  z-index: 9000;
  position: fixed;
}


  /* .whats1{
    font-weight: 400;
    font-size: 1.5em;
    font-family: 'Ultra', serif;
    animation-name: colorchange;
    animation-duration: 15s;
  } */

  .learn{
    border: 2rem solid rgb(247, 6, 215);
    
  }

  .whats4div1{
    margin-right: 0em;
    height: 15em;
    width: 15em;
    background-image: url("./img/happypups.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  }

  
  .whats4div2{
    margin-top: -15em;
    margin-left: 20em;
    height: 15em;
    width: 15em;
    background-image: url("./img/happypups.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  }


  .animation{
    width: 100px;
    height: 100px;
    background: red;
    -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
    transition: width 2s;
    animation-name: colorchange;
    animation-duration: 5s;
    animation-delay: 2s;
    -webkit-animation-name: colorchange;
    -webkit-animation-duration: 15s;
    -webkit-animation-delay: 5s;
    -webkit-animation-iteration-count: infinite;
  }
  

  .animation:hover{
    width: 300px;
  }

  @-webkit-keyframes colorchange {
    from {background-color: red;}
    to {background-color: yellow;}
  }
  
  /* Standard syntax */
  @keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
  }

  .css{
    height: 15em;
    width: auto;
    border: 1em solid yellow;
  }

  .color{
    height: 10em;
    width: 15em;
    background: repeating-radial-gradient( red, green, blue, magenta, rgba(251, 255, 4, 0.534), silver);
    border: 1em outset orange;
  }

  
  .colors{
    height: 10em;
    width: 15em;
    background: repeating-linear-gradient(red, blue, green, yellow);
    border: 1em outset orange;
    margin-left: 25em;
    margin-top:-13em;
  }


  hr{
    height: 1em;
    background-color: aqua;
  }


  /* Dropdown Button */
.dropbtn {
  background-color: rgb(205, 52, 219);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: 10px solid rgb(248, 252, 7);
  cursor: pointer;
  margin-top: 8em;
  position: fixed;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: fixed;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
  overflow: scroll;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: rgb(240, 121, 121)}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.school{
  width:45em;
  height: 10em;
  padding: 1em;
  border: .8em double lime;
  margin-left: 1em;
}

.mouse{
  margin-left: 25em;
  margin-top: -78em;
}

.mice{
width: 45%;
}

.micePara{
  width: 15em;
  color: #00dbde;
  
}


.mousePara{
  
  color: #00dbde;
  margin-left: 26em;
  margin-top: -5em;
}


.python{
  height: 7em;
  width: 7em;
}

.heart{
  height: 7em;
  width: 7em;
}

#day11{
  margin-top: -5em;
}

.trello{
  height: 15em;
  width: 25em;

}

.udemy{
  height:20em;
  

}